.keyboard {
    color: #38405D;
    width: 71.9444vw;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 5rem;
}

.row {
    /* ! */
    display: flex;
}

.key {
    width: 45px;
    height: 45px;
    margin: 5px;
    border-radius: 4px;
    background-color: white;
    border: solid #38405D;
    cursor: pointer;
    /* ! */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: 0.2s;
    /* ! */
}

.key:hover {
    background-color: #1C3796;
}

.key.active {
    background-color: #333;
    color: #fff;
}

.key .two-value {
    width: 100%;
    text-align: center;
}

.fn-key {
    width: 80px;
}

.space-key {
    width: 420px;
}

.back-space-key {
    width: 130px;
}

.tab-key {
    width: 95px;
}

.back-slash-key {
    width: 95px;
}

.caps-lock-key {
    width: 110px;
}

.left-shift-key {
    width: 145px;
}

.enter-key {
    width: 150px;
}

.right-shift-key {
    width: 185px;
}

.menu {
    /* ! */
    display: flex;
}

.switch {
    position: relative;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    cursor: pointer;
    background-color: gray;
    border-radius: 34px;
    transition: 0.4s;
}


/* ! */

.slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.5s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: black;
}

input:checked+.slider::before {
    /* ! */
    transform: translateX(26px);
}

.select-box {
    position: relative;
    margin-left: 60px;
    height: 34px;
}

.select-box select {
    /* ! */
    font-size: 0.9rem;
    /* ! */
    padding: 2px 5px;
    height: 34px;
    width: 200px;
}

.input-group {
    margin: 100px 0px;
}

.input {
    border: none;
    border-bottom: 2px solid lightgrey;
    width: 1050px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    display: block;
}

.error-message {
    color: #cc0033;
    font-size: 30px;
    line-height: 30px;
    margin-top: 10px;
    text-align: center;
}

.input-group .error-message {
    display: none;
}

.error input {
    border-bottom: 2px solid red;
}

.error .error-message {
    display: block;
}