@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');
.keyboard {
    color: #38405D;
    width: 730px; 
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.row {
    /* ! */
    display: flex;
    font-size: 15px;
}

.key {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    width: 40px;
    height: 40px;
    box-shadow: 1px 1px 0 #38405D;
    margin: 3px;
    border-radius: 4px;
    background-color: white;
    border: solid #38405D;
    cursor: pointer;
    /* ! */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: 0.2s;
    /* ! */
}

.key:hover {
    background-color: #1C3796;
    color: #fff;
}

.key.active {
    background-color: #333;
    color: #fff;
}

.s {
    width: 83px;
    height: 48px;
}

.key .two-value {
    width: 100%;
    text-align: center;
}

.space-key {
    width: 240px;
}

.alt-key,
.hangle-key {
    width: 54px;
}

.back-space-key,
.tab-key {
    width: 67px;
}

.caps-lock-key,
.enter-key {
    width: 79px;
}

.left-shift-key,
.right-shift-key {
    width: 104px;
}

.arrow {
    width: 133px;
    height: 41px;
    border: solid #fff;
    display: grid;
    grid-template-columns: repeat(3, 48px);
    margin: -2px;
}

.arrow:hover {
    pointer-events: none;
}

.arrow :nth-child(1),
.arrow :nth-child(3) {
    border: solid #fff;
    box-shadow: none;
}

.grid-item {
    text-align: center;
    width: 42px;
    height: 15px;
    font-size: 10px;
}

.menu {
    /* ! */
    display: flex;
}

.switch {
    position: relative;
    width: 80px;
    height: 54px;
}

.switch input {
    display: none;
}

.slider {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    cursor: pointer;
    background-color: gray;
    border-radius: 34px;
    transition: 0.4s;
}


/* ! */

.slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.5s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: black;
}

input:checked+.slider::before {
    /* ! */
    transform: translateX(26px);
}

.select-box {
    position: relative;
    margin-left: 60px;
    height: 34px;
}

.select-box select {
    /* ! */
    font-size: 0.9rem;
    /* ! */
    padding: 2px 5px;
    height: 34px;
    width: 200px;
}

.input-group {
    margin: 100px 0px;
}

.input {
    border: none;
    border-bottom: 2px solid lightgrey;
    width: 1050px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    display: block;
}

.error-message {
    color: #cc0033;
    font-size: 30px;
    line-height: 30px;
    margin-top: 10px;
    text-align: center;
}

.input-group .error-message {
    display: none;
}

.error input {
    border-bottom: 2px solid red;
}

.error .error-message {
    display: block;
}

error .error-message {
    display: block;
}