.container {
    margin: 121px auto;
    width: 445px;
    height: 612px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.welcome {
    color: #6C5DD3;
    font-size: 25px;
    margin: 0;
    margin-top: 40px;
}

.text {
    font-size: 16px;
    margin: 17px 0;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label {
    color: #38405D;  
}

.label:nth-child(1) {
    margin-top: 38px;
}

.label:nth-child(3) {
    margin-top: 16px;
}

.input {
    width: 250px;
    height: 42px;
    margin-top: 8px;
    border: 0;
    border-radius: 8px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.05);
    padding-left: 10px;
    outline: 0;
}

.input::placeholder {
    color: #BFBFBF;
}

.login_btn {
    width: 250px;
    height: 38px;
    margin-top: 18px;
    color: white;
    border: 0;
    background-color: #6C5DD3;
    border-radius: 8px;
    font-size: 16px;
}

.login_btn:disabled {
    background-color: #C4BFEC;
}

.or {
    display: flex;
    align-items: center;
    color: #38405D;
    font-size: 12px;
    margin-top: 34px;
    margin-bottom: 22px;
}

.or::before,
.or::after {
    content: "";
    width: 99px;
    margin: 0 16px;
    background: #38405D;
    height: 0.5px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 16px;
}

.google_btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    height: 42px;
    background-color: #ffffff;
    color: #757575;
    border: 1px solid #667085;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
}

.google_img {
    width: 22px;
    height: 22px;
}