.container {
    position: absolute;
    width: 515px;
    height: 388px;
    margin-top: 387px;
    margin-left: 673px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 40px 20px 0px rgba(0, 0, 0, 0.01);
    z-index: 100;
}

.title {
    font-size: 16px;
    font-weight: 500;
    margin-top: 25px; 
    margin-left: 30px;
}

.text {
    font-size: 20px;
    margin-top: 52px;
    margin-left: 214px;
    font-weight: bold;
}

.progress {
    width: 100px;
    height: 100px;
    margin-top: 52px;
    margin-left: 207px;
}

.btn_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 372px;
    margin-top: 43px;
    margin-left: 72px;
}

.btn {
    width: 179px;
    height: 41px;
    background-color: #CAB0FF;
    color: white;
    border: 0;
    border-radius: 8px;
}