.container {
    width: 1420px;
    margin: 0 auto;
    display: flex;   
}

.text {
    color: #4F4F4F;
    font-size: 18px;
    font-weight: bold;
}

.btn_container1 {
    display: flex;
    margin-top: 19px;
}

.profile_btn {
    width: 280px;
    height: 43px;
    padding: 10px 13px;
    background-color: white;
    color: #B4B4B4;
    border: 0;
    border-radius: 10px;
    text-align: start;
}

.profile_btn:hover {
    background-color: #E0DDF4;
    transition: all 0.5s;
}

.record_btn {
    width: 280px;
    height: 43px;
    margin-left: 15px;
    padding: 10px 13px;
    background-color: #6C5DD3;
    color: #FDFDFD;
    border: 0;
    border-radius: 10px;
    text-align: start;
}

