.container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.title_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    color: #D5D5D5;
}

div .title:nth-child(1) {
    font-size: 16px;
}

div .title:nth-child(2) {
    font-size: 14px;
}