.container {
    display: flex;
    justify-content: space-between;
    width: 265px;
    margin-right: 40px;
}

.menu {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}

.selected_box {
    width: 215px;
    height: 52px;
    background-color: #6C5DD3;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
}

.box {
    width: 215px;
    height: 52px;
    padding: 15px;
    color: white;
    cursor: pointer;
}

.selected_text {
    display: flex;
    align-items: center;
    column-gap: 11px;
    font-size: 15px;
    color: white;
}

.text {
    display: flex;
    align-items: center;
    column-gap: 11px;
    font-size: 15px;
    color: #B4B4B4;
}

.line{
    border-right: 1px solid #E1E1E1;
    height: 916px;
}